# Custom attributes files created by macOS
.DS_Store

# Used for testing actions locally with act
.secrets

# Ignore .env file containing credentials, API keys, tokens, passwords, etc.
*.env

# Log files
*.log
# Code coverage output file
coverage-all.out

# File created for debugging with vscode
mage_output_file.go
TODO
