---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: goreleaser
on:
  push:
    tags:
      - "*"

env:
  GO_VERSION: 1.24.0

jobs:
  goreleaser:
    name: Run GoReleaser
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0 # Ensure all tags are fetched

      - name: Fetch all tags
        run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache-dependency-path: "**/*.sum"

      - name: Fix GOPATH
        run: echo "PATH=$(go env GOPATH)/bin:$PATH" >> $GITHUB_ENV

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@286f3b13b1b49da4ac219696163fb8c1c93e1200 # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
