---
name: Pre-Commit
on:
  pull_request:
  push:
    branches: [main]
  # Run once a week (see https://crontab.guru)
  schedule:
    - cron: "0 0 * * 0"

jobs:
  pre-commit:
    name: Update pre-commit hooks and run pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@v3.1.0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.2

      - name: Install homebrew
        uses: homebrew/actions/setup-homebrew@master

      - name: Install go module dependencies
        run: |
          go install mvdan.cc/sh/v3/cmd/shfmt@latest
          go install github.com/magefile/mage@latest

      - name: Install brew dependencies
        run: |
          brew install pre-commit
          brew install shellcheck

      - name: Install pre-commit dependencies
        run: mage installDeps

      - name: Run pre-commit autoupdate action
        uses: browniebroke/pre-commit-autoupdate-action@main
        with:
          base: main

      - name: Create Pull Request with updates
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update/pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "chore: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
