---
name: Tests
on:
  pull_request:
  push:
    branches: [main]

env:
  # Skip keeper tests
  SKIP_KEEPER_TESTS: true

jobs:
  tests:
    name: Run tests - includes pre-commit hooks and determining code coverage %
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Set up Python
        uses: actions/setup-python@bd6b4b6205c4dbad673328db7b31b7fab9e241c0 # v4
        with:
          python-version: "3.x"

      - name: Set up Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4
        with:
          go-version: "1.20"

      - name: Install goreleaser
        run: go install github.com/goreleaser/goreleaser@latest

      - name: Install pre-commit
        run: pip3 install pre-commit

      - name: Set git config
        run: |
          git config --global user.name "John Doe"
          git config --global user.email johndoe@example.com

      - name: Set up Python
        uses: actions/setup-python@bd6b4b6205c4dbad673328db7b31b7fab9e241c0 # v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip3 install keepercommander

      - name: Generate the coverage output
        run: |
          bash .hooks/go-unit-tests.sh coverage

      - name: Send the coverage output
        uses: shogo82148/actions-goveralls@df920a6a2468668dfcf71a0b43817f89eaa5ea04 # v1
        with:
          path-to-profile: coverage-all.out
