---
name: Tests
on:
  pull_request:
  push:
    branches: [main]

env:
  # Skip keeper tests
  SKIP_KEEPER_TESTS: true

jobs:
  tests:
    name: Run tests and determine code coverage %
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4
        with:
          go-version: "1.21.0"

      - name: Install goreleaser
        run: go install github.com/goreleaser/goreleaser@latest

      - name: Install pre-commit
        run: pip3 install pre-commit

      - name: Set git config
        run: |
          git config --global user.name "John Doe"
          git config --global user.email johndoe@example.com

      - name: Set up Python
        uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip3 install keepercommander

      - name: Generate the coverage output
        run: |
          bash .hooks/run-go-tests.sh coverage

      - name: Send the coverage output
        uses: shogo82148/actions-goveralls@7b1bd2871942af030d707d6574e5f684f9891fb2 # v1
        with:
          path-to-profile: coverage-all.out
