---
name: Tests
on:
  pull_request:
  push:
    branches: [main]

env:
  GO_VERSION: 1.24.0
  PYTHON_VERSION: 3.12.6
  # Skip keeper tests
  SKIP_KEEPER_TESTS: true

jobs:
  tests:
    name: Run tests and determine code coverage %
    runs-on: ubuntu-latest
    steps:
      - name: Clone git repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
        with:
          go-version: "${{ env.GO_VERSION }}"

      - name: Install goreleaser (required for tests)
        run: go install github.com/goreleaser/goreleaser@latest

      - name: Setup git config
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install python dependencies (required for tests)
        run: python3 -m pip install ansible keepercommander pre-commit

      - name: Generate the coverage output
        run: |
          bash .hooks/run-go-tests.sh coverage

      - name: Send the coverage output
        uses: shogo82148/actions-goveralls@7b1bd2871942af030d707d6574e5f684f9891fb2 # v1
        with:
          path-to-profile: coverage-all.out
